body {
    width: 100%;
    height: 100%;
    padding: 0;
}

svg {
    display: block;
    margin: auto;
    position: relative;
}

.bridg-it-table {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.bridg-it-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9%;
    margin: auto;
}

.dot, .nothing, .line {
    width: 16px;
    height: 16px;
    margin: auto;
}

line {
    stroke-width: 3;
}

.red circle {
    fill: rgba(255, 0, 0, 1);
}

.red line {
    stroke: rgba(255, 0, 0, 1);
}

.blue circle {
    fill: rgba(0, 0, 255, 1);
}

.blue line {
    stroke: rgba(0, 0, 255, 1);
}

.horizontal svg {
    left: -22px;
    width: 54px;
}

.vertical svg {
    top: -22px;
    height: 54px;
}